*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center{
    display: flex;
    max-width: 1100px;
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main{
    background-image: url('images/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu{
    display: flex;
    width: 100%;
}

.logo-menu{
    width: 50%;
}

.items-menu{
    width: 50%;
    text-align: right;
}

.items-menu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.items-menu a:hover{
    border-bottom: 2px solid #FFDD33;
}

.items-menu a.contact-btn{
    background-color: #0f3fd3;
    padding: 13px;
    border-radius: 8px;
}

.items-menu a.contact-btn:hover{
    border: 0;
}

.mockup{display: block; width: 100%; color: white; text-align: center; padding: 100px;}

.mockup h1{font-size: 50px;}

.mockup img{max-width: 100%;}

section.marcas img{
    width: calc(100%/5);
}

section.marcas{
    padding: 100px 0;
}

section.porque-nos{
    padding: 40px 0;
    background-color: #f3fcfe;
}

section.porque-nos > .center > h2{
    font-size: 64px;
    text-align: center;
    width: 100%;
    padding-bottom: 8px;
}

section.porque-nos > .center{
    max-width: 1280px;
}

section.porque-nos > .center > p{
    font-size: 14px;
    color: #7e92ac;
    text-align: center;
    width: 100%;
    padding-bottom: 60px;
}

.diferenciais{
    display: flex;
}

.box-diferenciais{
    box-shadow: 0px 20px 40px #2426721C;
    width: 100%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 10px;
}

.box-diferenciais h3{
    font-size: 28px;
    color: black;
    margin: 20px 0;
}

.box-diferenciais p{
    font-size: 16px;
    color: #7e92ac;
    margin-bottom: 20px;
}

section.cta{
    background-image: url('images/banner_meio.svg');
    padding: 80px 0;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    text-align: center;
    color: white;
}

section.cta h2, section.cta h4{
    font-weight: normal;
    margin: 20px 0;
}

section.cta h2{
    font-size: 40px;
}

section.cta a{
    display: inline-block;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    background-color: #FFDD33;
    color: #0f3fd3;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.beneficios-coluna{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.beneficio-item{
    display: flex;
    align-items: center;
}

.beneficio-item img{
    margin-right: 10px;
    margin-top: 20px;
}

.beneficio-item span{
    font-size: 14px;
}

.img-beneficios{ /*img notebook*/
    width: 50%;
    text-align: center;
}

.img-beneficios img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

section.depoimentos{
    background-color: #fbfcfe;
    padding: 40px 0;
}

section.depoimentos > h1{
    text-align: center;
    font-size: 50px;
}

.container-slider{
    overflow: hidden;
}

.container-slider-single{
    float: left;
    background-color: red;
    padding: 10px;
}

.slick-slide{
    margin-left: 27px;
}

@media screen and (max-width: 768px){
    .center{
        flex-direction: column;
    }
    .beneficios-coluna,
    .img-beneficios{
        width: 100%;
    }
    section.marcas img{
        max-width: 120px;
        width: 100%;
    }
    .diferenciais{
        flex-wrap: wrap;
    }
}

section.marcas > .center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section.marcas img{
    max-width: 200px;
    width: 100%;
}